@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

@keyframes appear {
    from {
        display: none;
        opacity: 0;
    }

    to {
        display: block;
        opacity: 1;
    }
}

:root {
    --anim-time: 1s;
}

body {
    margin: 50px;
}

div.esc-container {
    margin: auto;
    width: 80%;
}

.esc-float-right {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

input[type=checkbox].esc-ready-button {
    display: none;
}

label#ready-button {
    border-color: #000;
    border-style: solid;
    border-width: 4px;
    padding: 10px 10px;
    box-shadow: 4px 4px black;
    transition: display 1s;
}

input[type=checkbox].esc-ready-button:checked ~ .esc-container .nes-container .message-list label#ready-button{
   display: none;
}

input[type=checkbox].esc-ready-button ~ .esc-container .nes-container .message-list .message:not(#default_message){
    display: none;
}

input[type=checkbox].esc-ready-button:checked ~ .esc-container .nes-container .message-list #player_message{
    display: block;
    animation: appear var(--anim-time);
}

input[type=checkbox].esc-ready-button:checked ~ .esc-container .nes-container .message-list #response_message{
    animation: appear var(--anim-time) var(--anim-time) backwards;
    display: block;
}

input[type=checkbox].esc-ready-button ~ .esc-container .nes-container:last-child{
    display: none;
}

input[type=checkbox].esc-ready-button:checked ~ .esc-container .nes-container:last-child{
    animation: appear var(--anim-time) calc(2 * var(--anim-time)) backwards;
    display: block;
}