@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

@keyframes appear {
    from {
        display: none;
        opacity: 0;
    }

    to {
        display: block;
        opacity: 1;
    }
}

div.esc-container {
    margin: auto;
    width: 80%;
}

.esc-float-right {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}